.cabecalho {
	background:url("img/imagem02.JPG") bottom center no-repeat;
	min-height: 100px;
	color: white;
}

.cabecalhoRetornoDados {
	background-color: #99CCFF;
}

.dadosRetornoDados {
	background-color: #ffffff;
}